doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content=metaContent)
    title=title
    link(rel='stylesheet' type='text/css' href='/public/css/base.css')
    block styles
  body(class=bodyClass)
    <!--[if lte IE 11]>
    p#ie Hi IE user. Maybe <a href='https://browsehappy.com/'>try one of these browsers</a> for a better experience.
    <![endif]-->
    #shell
      nav#main
        ul
          li: a(href='/') /
          li: a(href='/family') Family
          li: a(href='/writing') Writing
          li: a(href='/playlists') Playlists
          li: a(href='/memes') Memes
          li: a(href='/resume') Resume
      main
        block page
      footer#footer
        nav
          ul
            li: a(href='https://github.com/morganney') GitHub
            li: a(href='https://www.linkedin.com/in/morganney/') LinkedIn
            li: a(href='https://twitter.com/morganney') Twitter
        p © 2014&mdash;#{currentYear} <a href='http://bizzybytes.com' rel='me'>Morgan Ney</a>. All rights reserved.
    block scripts
    if isProd
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-38208807-3', 'neys.info');
        ga('send', 'pageview');
